#sectionMenu{
    // height: 100vh;
    height: 100%;
    background: url(../img/menu_scroll/slider-menu.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.menu__section-container{

    height: inherit;
    position: relative;
    display: flex;
    justify-content: flex-end;

    background: rgba(47, 50, 52, 0.3);
}
  
.section__title--text {
    position: absolute;
    top: (6.8125rem);
    left: (5.25rem);
    font-weight: 700;
    font-size: 3rem;
    color: #fff;
}
  
.menu-acco{
    display: flex;
    height: 100%;
}
  
.menu-acco__line{
    display: flex;
    cursor: pointer;
    height: 100%;
}
  
.menu-acco__trigger{
    position: relative;
    width: (6.375rem);

    &:hover{
        border: 0.0625rem solid rgba(47, 50, 52, 0.5);
    }

    @include tablets{
        width: (6.875rem);
    }

    @include phones{
        width: (8.75rem);
    }
}
  
.menu-acco__trigger-text{
    position: absolute;
    left: 50%;
    bottom: (0.9375rem);
    transform: rotate(-90deg) translate(-50%, -50%);
    
    transform-origin: 0 0;
    white-space: nowrap;
}
  
.menu-acco__content{
    width: 0;
    padding: 0rem;
    opacity: 1;
    overflow: hidden;

    background: rgba(47, 50, 52, 0.7);
    transition: 0.23s;
    
}

.menu-acco__text{
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: (1rem);
}
  
.menu-acco__line_active > .menu-acco__content {
    width: (18.75rem);
    // width: 100%;
    padding: (1.25rem);
    box-sizing: border-box;
    opacity: 1;
    z-index: 10;
}

.product-menu__img{
    width: 100%;
    height: 100%;
}