.slider{
    background: #F8FAF9;

    // min-height: (40.125rem);
    // height: 100vh;
    height: 100%;
    overflow: hidden;

    display: flex;

    // @include tablets{
    //     // height: (51rem);
    // }
}

.slider__container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    .bx-wrapper{
        background: transparent;
        border: 0;
        box-shadow: none;

        margin-bottom: 0;
    }
}

.slider__list, .dropdown__list, .slider__item, .dropdown__item{
    height: 100%;
}

.slider__img{
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(../img/ddown/bgboard.png);
    background-repeat: no-repeat;
    background-position-x: 40%;
    background-position-y: center;
    width: 55%;

    @include tablets{
        width: initial;
        max-height: (26.0625rem);
        background-size: 85%;
    }
}

.slider__content{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include tablets{
        width: initial;
        max-width: (33rem);
        text-align: center;
    }

    @include phones{
        width: initial;
        text-align: center;
    }
}
.slider__item{
    display: flex;

    @include tablets{
        flex-direction: column;
        align-items: center;
    }
}

.options__img{
    display: flex;
    justify-content: center;

    margin-top: (1.0625rem);
}
.option__img{
    width: (2.375rem);
    height: (2.375rem);
}
.options__title{
    margin-top: (0.4375rem);
    text-align: center;
}
.dropdown__item{
    display: flex;
    padding-left: (1.875rem);
    padding-bottom: (1.75rem);

    &:last-child{
        padding-bottom: 0;
    }
}
.item-img{
    display: flex;
    justify-content: center;

    width: (1.875rem);
    height: (1.875rem);
}

.item__title{
    padding-left: (1rem);
    width: (7.9375rem);

    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 500;
    font-size: (1rem);
    line-height: (1.5rem);
}
.item__mean{
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 400;
    font-size: (1rem);
    line-height: (1.5rem);
}

.dropdown__list{
    display: flex;
    flex-direction: column;
    width: (17.0625rem); height: (18.1875rem);
    background: rgba(255, 255, 255, 0.8);

    padding-top: (2.0625rem);
    padding-bottom: (1.9375rem);
}
.options__dropdown{
    display: none;
}

.slider__params, .slider__cost{
    display: flex;
    align-items: center;
    
    @include tablets{
        justify-content: center;
    }
}
.slider__cost{
    justify-content: space-between;

    @include tablets{
        justify-content: center;
    }
}

.options__block{
    width: (5.6875rem);
    height: (5.6875rem);
    background-color: #3A587E;
    border-radius: (0.25rem);

    @include tablets{
        display: none;
    }
}

.slider__options{
    display: flex;
    text-align: left;
    width: (5.6875rem);
}

.slider__options:hover .options__dropdown{
    display: flex;
    position: absolute;

    margin-left: (5.6875rem);
}

.slider__title{
    margin-top: (3.25rem);
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 700;
    font-size: (2.25rem);
    line-height: (2.6875rem);
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;

    @include tablets{
        margin-top: 0;
        font-style: normal;
        font-weight: 700;
        font-size: (1.875rem);
        line-height: (2.25rem);

        display: flex;
        align-items: flex-end;
        text-align: center;
        text-transform: uppercase;
    }
}
.title{
    @include tablets{
        margin: 0;
    }
}

.slider__text{
    font-weight: 400;
    font-size: (1.125rem);
}

.long__title, .width__title{
    font-weight: 400;
    font-size: (1.125rem);
}
.long__mean, .width__mean{
    font-weight: 700;
    font-size: (1.125rem);
}

.params__width{
    margin-left: (3.4375rem);
}

.cost__value{
    font-weight: 300;
    font-size: (3.75rem);

    @include tablets{
        width: (11.8125rem);
        text-align: left;
    }
}
.button--slider{
    width: (9.75rem);
    height: (3.75rem);

    // margin-left: (1.75rem);

    font-weight: 800;
    font-size: (1rem);

    @include tablets{
        margin-left: (0.4375rem);
        padding: (1.3125rem) (2.5625rem);
        border-radius: (6.25rem);

        font-weight: 800;
        font-size: (1rem);
        line-height: (1.125rem);
    }
}

.svg__slider{
    position: absolute;

    top: 52%;
    width: (0.9375rem);
    height: (1.6875rem);

    cursor: pointer;

    @include tablets{
        top: 33%;
        width: (1.3125rem);
        height: (2rem);
    }

    @include phones{
        width: (1.5625rem);
        height: (2.625rem);
    }
}
.svg__slider--l{
    left: (0.0625rem);
}
.svg__slider--r{
    right: (0.0625rem);
}
